body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    padding: 24px 16px;
    background-color: #F2BE22;
    font-size: larger;
}

nav{
    padding: 16px;
    border: 1px groove black;
}

img{
    height: 200px;
    width: 200px;
}

.griddy{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
a{
    color:green;
    text-decoration: none;
}
h1{
    color:darkgreen
}
nav{
    background-color: #F2BE22;
}
tr:nth-child(even) { background: lightgray}

ol:nth-child(even) { background: lightgray}

img{
    border-radius: 5px;
}
